# Fetch bill data from HuggingFace repo

In [ ]:
!pip3 install datasets

In [ ]:
!pip3 install tqdm

In [1]:
import pandas as pd
from datasets import load_dataset
train_dataset = load_dataset("AmazonScience/massive", "en-US", split='train')
test_dataset = load_dataset("AmazonScience/massive", "en-US", split='test')
train = pd.DataFrame.from_dict(train_dataset)
test = pd.DataFrame.from_dict(test_dataset)

/usr/local/anaconda3/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
print(train_dataset)

Dataset({
    features: ['id', 'locale', 'partition', 'scenario', 'intent', 'utt', 'annot_utt', 'worker_id', 'slot_method', 'judgments'],
    num_rows: 11514
})

In [3]:
train.head(3)

,id,locale,partition,scenario,intent,utt,annot_utt,worker_id,slot_method,judgments
0,1,en-US,train,16,48,wake me up at nine am on friday,wake me up at [time : nine am] on [date : friday],1,"{'slot': [], 'method': []}","{'worker_id': [], 'intent_score': [], 'slots_s..."
1,2,en-US,train,16,48,set an alarm for two hours from now,set an alarm for [time : two hours from now],1,"{'slot': [], 'method': []}","{'worker_id': [], 'intent_score': [], 'slots_s..."
2,4,en-US,train,10,46,olly quiet,olly quiet,1,"{'slot': [], 'method': []}","{'worker_id': [], 'intent_score': [], 'slots_s..."

# Explore the data

## Length of dataset

In [15]:
train_len = len(train)
test_len = len(test)
print(f"The train set is {train_len} rows long, the test dataset is {test_len} long. \
The test dataset represents {(test_len/train_len)*100}% of the train dataset.")

The train set is 11514 rows long, the test dataset is 2974 long. The test dataset represents 25.829425047767934% of the train dataset.

In [16]:
classes = set(train["intent"])
print(f"The train dataset contains {len(classes)} classes.")

The train dataset contains 60 classes.

## What's the distribution of utteraces per intent

### In the training dataset

In [9]:
utt_per_intent = train.groupby('intent')['id'].nunique().reset_index()
utt_per_intent.columns = ['intent', 'unique_utt']
utt_per_intent.sort_values(by=["unique_utt"])
total_utts = sum(utt_per_intent["unique_utt"])
utt_per_intent["percentage"] = (utt_per_intent["unique_utt"]/total_utts) * 100
utt_per_intent.sort_values(by=["percentage"], ascending=False)

    intent  unique_utt  percentage
50      50         810    7.034914
45      45         639    5.549766
13      13         573    4.976550
32      32         566    4.915755
12      12         555    4.820219
49      49         544    4.724683
22      22         503    4.368595
44      44         418    3.630363
33      33         354    3.074518
0        0         350    3.039778
30      30         312    2.709745
36      36         283    2.457877
47      47         283    2.457877
26      26         267    2.318916
42      42         227    1.971513
9        9         207    1.797811
59      59         198    1.719646
58      58         193    1.676220
6        6         190    1.650165
48      48         182    1.580684
21      21         177    1.537259
19      19         173    1.502519
53      53         164    1.424353
57      57         154    1.337502
40      40         153    1.328817
4        4         152    1.320132
20      20         150    1.302762
10      10         142    1.233281
16      16         135    1.172486
23      23         130    1.129060
2        2         127    1.103005
17      17         127    1.103005
1        1         125    1.085635
56      56         124    1.076950
3        3         122    1.059580
11      11         117    1.016154
43      43         113    0.981414
51      51         112    0.972729
14      14         110    0.955359
46      46         110    0.955359
27      27         108    0.937989
54      54         100    0.868508
34      34          93    0.807712
52      52          78    0.677436
39      39          78    0.677436
31      31          76    0.660066
18      18          76    0.660066
25      25          72    0.625326
55      55          70    0.607956
15      15          54    0.468994
38      38          52    0.451624
8        8          52    0.451624
35      35          52    0.451624
28      28          51    0.442939
24      24          48    0.416884
5        5          25    0.217127
41      41          22    0.191072
29      29          18    0.156331
7        7          14    0.121591
37      37           4    0.034740

### In the test dataset

In [10]:
utt_per_intent_test = test.groupby('intent')['id'].nunique().reset_index()
utt_per_intent_test.columns = ['intent', 'unique_utt']
utt_per_intent_test.sort_values(by=["unique_utt"])
total_utts_test = sum(utt_per_intent["unique_utt"])
utt_per_intent_test["percentage"] = (utt_per_intent["unique_utt"]/total_utts_test) * 100
utt_per_intent_test.sort_values(by=["percentage"], ascending=False)

    intent  unique_utt  percentage
50      51          35    7.034914
45      46          32    5.549766
13      13         156    4.976550
32      32         126    4.915755
12      12         169    4.820219
49      50         209    4.724683
22      22         124    4.368595
44      45         176    3.630363
33      33         114    3.074518
0        0          88    3.039778
30      30          67    2.709745
47      48          41    2.457877
36      36          72    2.457877
26      26          57    2.318916
42      43          36    1.971513
9        9          72    1.797811
58      59          51    1.676220
6        6          43    1.650165
48      49         141    1.580684
21      21          39    1.537259
19      19          31    1.502519
53      54          23    1.424353
57      58          63    1.337502
40      41           3    1.328817
4        4          26    1.320132
20      20          41    1.302762
10      10          39    1.233281
16      16          22    1.172486
23      23          34    1.129060
17      17          26    1.103005
2        2          35    1.103005
1        1          36    1.085635
56      57          35    1.076950
3        3          35    1.059580
11      11          15    1.016154
43      44         119    0.981414
51      52          21    0.972729
14      14          13    0.955359
46      47          81    0.955359
27      27          25    0.937989
54      55          20    0.868508
34      34          26    0.807712
52      53          52    0.677436
39      40          43    0.677436
31      31          21    0.660066
18      18          27    0.660066
25      25          19    0.625326
55      56          36    0.607956
15      15          12    0.468994
38      39          25    0.451624
8        8          18    0.451624
35      35          11    0.451624
28      28           6    0.442939
24      24          10    0.416884
5        5           1    0.217127
41      42          51    0.191072
29      29           6    0.156331
7        7           4    0.121591
37      38          15    0.034740

## Length of a utterance

In [23]:
from tqdm import tqdm
utt_length_words = []
utt_length_chars = []

for text in tqdm(train["utt"]):
    try:
        utt_length_words.append(len(text.split(" ")))
        utt_length_chars.append(len(text))
    except AttributeError:
        utt_length_words.append(0)
        utt_length_chars.append(0)

train["utt_length_words"] = utt_length_words
train["utt_length_chars"] = utt_length_chars
train.head(3)

100%|██████████████████████████████████████████████████████████████████████████████████| 11514/11514 [00:00<00:00, 858301.93it/s]

,id,locale,partition,scenario,intent,utt,annot_utt,worker_id,slot_method,judgments,utt_length_words,utt_length_chars
0,1,en-US,train,16,48,wake me up at nine am on friday,wake me up at [time : nine am] on [date : friday],1,"{'slot': [], 'method': []}","{'worker_id': [], 'intent_score': [], 'slots_s...",8,31
1,2,en-US,train,16,48,set an alarm for two hours from now,set an alarm for [time : two hours from now],1,"{'slot': [], 'method': []}","{'worker_id': [], 'intent_score': [], 'slots_s...",8,35
2,4,en-US,train,10,46,olly quiet,olly quiet,1,"{'slot': [], 'method': []}","{'worker_id': [], 'intent_score': [], 'slots_s...",2,10

In [24]:
utt_len_mean_words = train["utt_length_words"].mean()

In [25]:
utt_char_length_mean = train["utt_length_chars"].mean()

In [26]:
print(f"An utterance is on average {utt_len_mean_words} words long and {utt_char_length_mean} characters long")

An utterance is on average 6.924787215563661 words long and 35.03873545249262 characters long

In [29]:
train[train["utt_length_words"]>= 200]

Empty DataFrame
Columns: [id, locale, partition, scenario, intent, utt, annot_utt, worker_id, slot_method, judgments, utt_length_words, utt_length_chars]
Index: []